header {
    padding: 10px 150px 25px 150px;
}

.project {
  font-family: 'Roboto Light', sans-serif;
  font-size: 24pt;
  color: #3D3D3D;
  text-align: center;
}

.urls {
  color: #BB1F25;
  font-family: 'Libre-Baskerville', serif;
  font-style: italic;
  font-size: 20pt;
  text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 350;
  }

